opencv-python-headless
camelot-py
numpy
pandas
streamlit
icalendar
DateTime
pybase64
requires.io
secure-smtplib
email-to
image-processing
lattice
parse
handler
PyPDF2
tabula-py
pdfplumber
streamlit
pdfminer==20191125
pdf2image
pytesseract
git+https://github.com/pdftables/python-pdftables-api.git
